<ion-content class="ion-padding login-background">
  <div class="center-content">
    <p class="ion-text-center">Inicia sesión en tu cuenta</p>
    <div class="login-container">
      <ion-list>
        <ion-item class="custom-input">
          <ion-input [(ngModel)]="email" type="email" labelPlacement="stacked" label="Correo Electrónico" placeholder="email@domain.com">
            <ion-icon slot="start" name="mail-outline" aria-hidden="true"></ion-icon>
          </ion-input>
        </ion-item>

        <ion-item class="custom-input">
          <ion-input [(ngModel)]="password" type="password" labelPlacement="stacked" label="Contraseña" placeholder="***********">
            <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
          </ion-input>
        </ion-item>

        <ion-button expand="full" (click)="login()">Iniciar Sesión</ion-button>
        <p class="ion-text-center">No tienes cuenta? <a (click)="irCreateUser()">Registrate aquí</a></p>
      </ion-list>
    </div>
  </div>
</ion-content>