<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon (click)="irUser()" name="arrow-back"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="--padding-top">
  <div class="center-content">
    <ion-list>
      <ion-title class="ion-text-center">
        <ion-toolbar>
          <h1 class="ion-padding">CREAR USUARIO</h1>
        </ion-toolbar>
      </ion-title>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="nombre" label="Ingrese Nombre" placeholder="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="email" label="Ingrese Email" type="Email" placeholder="email@domain.com"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="password" label="Contraseña" type="password" value="password"
            placeholder="***********"></ion-input>
        </ion-item>
        <ion-button (click)="crearUsuario()" id="open-modal" expand="block">crear usuario</ion-button>
      </ion-list>
    </ion-list>
  </div>
</ion-content>